<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>start</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="visits">
      <ion-icon name="people"></ion-icon>
      <ion-label>wizyty</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="examinations">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>badania</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="drugs">
      <ion-icon name="medkit"></ion-icon>
      <ion-label>leki</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="others">
      <ion-icon name="apps"></ion-icon>
      <ion-label>inne</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
