<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/welcome"></ion-back-button>
    </ion-buttons>
    <ion-title>ZALOGUJ SIĘ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen>
  <ion-row>
    <ion-col></ion-col>
    <ion-col class="drwidget-logo" size="6"></ion-col>
    <ion-col></ion-col>
  </ion-row>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-label><ion-icon name="person"></ion-icon></ion-label>
            <ion-input type="text" placeholder="Login / PESEL" name="login" [(ngModel)]="loginCreds.login" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label><ion-icon name="lock"></ion-icon></ion-label>
            <ion-input type="password" placeholder="Hasło" name="password" [(ngModel)]="loginCreds.password" required></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-text color="secondary">
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ipsum purus.</li>
        <li>Pellentesque cursus odio felis, id sodales lacus tincidunt in.</li>
      </ul>
    </ion-text>

    <ion-button color="secondary" expand="block" type="submit" shape="round" [disabled]="!loginForm.form.valid">ZALOGUJ</ion-button>

  </form>
</ion-content>
