// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-header {
  &::after {
    display: none !important;
  }

  .title-md {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}

form {
  ion-item.item {
    --highlight-background: none;

    background-color: white;
    color: black;
    margin-bottom: 10px;
    border-radius: 15px;

    ion-label {
      margin-left: 15px;
      font-size: 1.5rem;
    }
  }
}

.drwidget-logo {
  background: url('../resources/logo.svg') no-repeat center center;
  background-size: contain;
  height: 10rem
}

ion-button {
  &.button-round {
    height: 3rem;
  }

  &.ion-color-secondary {
    --ion-color-base: linear-gradient(to right, rgb(46, 61, 103) -30%, rgb(128, 190, 166) 100%) !important;
  }
}
